*.pro.user
*.cache
Makefile*
!RTIMULibDrive/Makefile
obj/
libs/
bin/
gen/
Output/
release/
debug/
objects/
Objects/
GeneratedFiles/
.metadata/
bin/
*-core
*.log.*
*.lib
*.ilk
*.dll
*.exp
*.pdb
*.dta
*.log
*.obj
*.ini
*~
*.o
*.map
!.gitignore
*.dat

